<!doctype html>
<html lang="en">
<head>
    <meta name="description" content="Newscadia">
    <meta name="keywords" content="News">
    <meta name="author" content="Newscadia">
    <title>Coming Soon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="refresh" content="50000">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="/static/logo/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/landing_newscadia.css">
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome/css/font-awesome.css" async>
    <script src="https://kit.fontawesome.com/da5f420781.js" crossorigin="anonymous"></script>

</head>
<body>
    <section class="showcase">
        <header>
            <img class="logo" src="static/logo/main-logo.svg" alt="Newscadia Logo">

        </header>
        <div id="particles-js" style="position:fixed; top:0; left:0; width:100%; height:100%; z-index:2; pointer-events:auto;"></div> <!-- Changed the z-index to 2 -->
        <div class="overlay"></div>
        <div class="text">
            <h2 style="color: #1e90ff;">Newscadia</h2>
            <h3 class="typing-animation">All News, One Spot.</h3>
            <p>
                Most powerful news aggregator out there. AI-Powered.
            </p>
            <a class="main-button" style="background-color: #1e90ff !important; font-size: 30px !important;">
                Coming Soon
            </a>

        </div>
        <ul class="social">
            <li><a href="https://twitter.com/newscadia" target="_blank"><i class="fab fa-twitter twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/company/newscadia/" target="_blank"><i class="fab fa-linkedin twitter"></i></a></li>
        </ul>

    </section>


    <script src="{{ url_for('static', filename='js/landing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/particles.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>


</body>

</html>
