<!doctype html>
<html lang="en">
<head>
    <meta name="description" content="Voltsbase is a leading energy news aggregator, providing the latest news, data and analysis from around the world.">
    <meta name="keywords" content="energy, news, aggregator, renewable energy, solar, wind, nuclear, fossil fuels, energy news, renewable energy, climate change">
    <meta name="author" content="Voltsbase">
    <title>Voltsbase is now integrated in Newscadia!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="refresh" content="50000">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="/static/logo/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/landing.css">
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome/css/font-awesome.css" async>
    <script src="https://kit.fontawesome.com/da5f420781.js" crossorigin="anonymous"></script>

</head>
<body>
    <section class="showcase">
        <header>
        </header>
        <div id="particles-js" style="position:fixed; top:0; left:0; width:100%; height:100%; z-index:2; pointer-events:auto;"></div> <!-- Changed the z-index to 2 -->
        <div class="overlay"></div>
        <div class="text">
            <h2 style="color: #90ee90;">Voltsbase</h2>
            <h3 class="typing-animation">Dive deep. Miss nothing.</h3>
            <p>Enjoying Voltsbase? We're thrilled to introduce <strong style="color: #1e90ff">Newscadia</strong> – a new and expanded version that covers not only energy but more than 50 diverse topics including artificial intelligence, data science, space, economy, politics, history, and much more.</p>
            <p><strong style="color: #1e90ff">Newscadia</strong>  offers an ML-powered platform to aggregate and curate news from thousands of global sources in near real-time. It provides comprehensive insights for industry professionals, enthusiasts, and the intellectually curious.</p>
            <p>Good news for Voltsbase users – you can log in to Newscadia using your existing Voltsbase account!</p>
            <p>Voltsbase.com will go offline in one week.</p>
            <a class="main-button" href="{{ url_for('home') }}">Go to Newscadia</a>


        </div>
        <ul class="social">
            <li><a href="https://twitter.com/voltsbase" target="_blank"><i class="fab fa-twitter twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/company/voltsbase/" target="_blank"><i class="fab fa-linkedin twitter"></i></a></li>
            <li><a href=" https://discord.gg/CS5gZeBNt9" target="_blank"><i class="fab fa-discord twitter"></i></a></li>
            <li><a href="https://www.reddit.com/r/voltsbase/" target="_blank"><i class="fab fa-reddit twitter"></i></a></li>
        </ul>

    </section>


    <script src="{{ url_for('static', filename='js/landing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/particles.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EWJB9QMLE3"></script>
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-EWJB9QMLE3');</script>


</body>

</html>
